@import url('https://fonts.googleapis.com/css?family=Megrim');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

$primary1: #000;
$primary2: #fdfdfd;
$secondary1: #e4e4e4;
$header-font: 'Megrim', sans-serif;
$body-font: 'Roboto', sans-serif;
